<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fuild">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
		<li>
			<a class="navbar-brand" routerLink="/home">
				<img class="img-responsive" src="../assets/img/logo.png" alt="Logo" style="float:left;width:42px;height:38px;">&nbsp;&nbsp;MyMovieCritic
			</a>
        </li>
        <li>
          <a routerLink="/movie">Movie  Review</a>
        </li>
        <li>
          <a routerLink="/advancedsearch">Advanced Search</a>
        </li>
        <li>
          <a routerLink="/profile">Profile</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/signin">Login</a>
        </li>

        <li>
          <a routerLink="/signup">Register</a>
        </li>
        
         <li>
           <button type="button"(click)="onSignOut()" class="btn btn-info">Logout</button>
        </li>

      </ul>
    </div>

    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>











