<!-- CSS -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
<link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../../../assets/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../../assets/css/form-elements.css">
<link rel="stylesheet" href="../../../assets/css/style.css">



<!-- Favicon and touch icons -->
<link rel="shortcut icon" href="../../../assets/ico/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../../assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../../assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../../assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="../../../assets/ico/apple-touch-icon-57-precomposed.png">

<!-- Javascript -->
<script src="../../../assets/js/jquery-1.11.1.min.js"></script>
<script src="../../../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../assets/js/scripts.js"></script>


<!-- Top content -->

    <div class="container">



      <div class="row">

        <div class="col-sm-offset-3 col-sm-5">

          <div class="form-box">
            <div class="form-top">
              <div class="form-top-left">
                <h3>Sign up now</h3>
                <p>Fill in the form below to get instant access:</p>
              </div>
              <div class="form-top-right">
                <!--<i class="fa fa-pencil"></i>-->
                <img src="../../../assets/img/pencil.png" width="50px">
              </div>
            </div>
            <div class="form-bottom">
              <form (ngSubmit)="onSignup(f)" #f="ngForm">
                <div class="form-group">
                  <label class="sr-only" for="form-first-name">Username</label>
                  <input type="text" name="username" placeholder="Username..." class="form-first-name form-control" id="form-User-name" ngModel>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="form-first-name">Password</label>
                  <input type="password" name="password" placeholder="Password..." class="form-first-name form-control" id="form-Password" ngModel>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="form-first-name">First name</label>
                  <input type="text" name="firstname" placeholder="First name..." class="form-first-name form-control" id="form-first-name" ngModel>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="form-last-name">Last name</label>
                  <input type="text" name="lastname" placeholder="Last name..." class="form-last-name form-control" id="form-last-name" ngModel>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="form-email">Email</label>
                  <input type="text" name="email" placeholder="Email..." class="form-email form-control" id="form-email" ngModel>
                </div>

                <button type="submit" class="btn">Sign me up!</button>
              </form>
            </div>
          </div>

        </div>
      </div>

    </div>
